a {
  text-decoration:none;
  color:#666;
}

body {
    --paper-toolbar-background: #00bcd4;
}

paper-toolbar {
    background-color: #00bcd4;
}

paper-toolbar a {
  color: #fff;
}

paper-tab a {
  font-size: 16px;
  text-align: center;
  color: #aaa;
}

article-element {
    width: 70%;
    background-color: #FDFDF0;
}