body {
    margin:0;
    padding:0;
}

a {
  text-decoration:none;
  color:#666;
}

paper-toolbar a {
  color: #fff;
}

logo {
    padding-left: 10px;
}

paper-tab a {
  font-size: 16px;
  color: #aaa;
  box-shadow: none;
}

paper-tabs[alignBottom] {
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
}

article-element {
    width: 70%;
    background-color: #FDFDF0;
}