<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="article-element">
    <style>
    :host {
        padding: 16px;
        margin: 10px;
        border: 1px solid #bbb;
        @apply(--layout-horizontal);
    }
    
    [article] {
        @apply(--layout-horizontal --layout-center);
    }
    
    [post-info] {
        font-size: 14px;
        color: #999;
    }
        
    </style>
    <template>
        <div article>
            <h3><a href="{{url}}">{{title}}</a></h3>
            <div post-info>Gửi bởi 
            <span>{{poster}}</span>
            </div>
        </div>
        <div title>
            
        </div>   
    </template>
</dom-module>

<script>
  Polymer({
    is: 'article-element',
    properties: {
      title: String,
      url: String,
      poster: String
    }
  });
</script>