<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="article-element">
    <style>
    :host {
        padding: 0;
        margin: 10px;
        border: 1px solid #bbb;
        @apply(--layout-horizontal);
    }
    
    [article] {
        @apply(--layout-horizontal --layout-center);
        padding: 16px;
        width: 300px;
    }
    
    [post-info] {
        font-size: 14px;
        color: #999;
    }
    
    [stats] {
        @apply(--layout-vertical);
        border-left: 1px solid #bbb;
        min-width:50px;
    }
    
    [card] {
      padding: 4px;
      text-align: center;
      vertical-align: middle;
      @apply(--layout-flex);
      border-bottom: 1px solid #bbb;

    }
    
    [comment] {
        border-bottom: 0;
    }
        
    </style>
    <template>
        <div article>
            <h3><a href="{{url}}">{{title}}</a></h3>
            <div post-info>Gửi bởi 
            <span>{{poster}}</span>
            </div>
        </div>
        <div class="flex"></div>
        <div stats>
            <div card upvote>3 hay</div>
            <div card downvote>2 dở</div>
            <div card comment>4 còm</div>
        </div>
    </template>
</dom-module>

<script>
  Polymer({
    is: 'article-element',
    properties: {
      title: String,
      url: String,
      poster: String
    }
  });
</script>